body {
    background-image: url("/assets/images/space.png");
    color: white;
}

a {
    color: white;
}

#title {
    text-align: center;
}

.planetImgRow {
    padding-bottom: 20px;
    text-align: center;
}

.planetImgColumn {
    display: inline-block; /* Display images side-by-side */
}

img { /* Planet images */
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.planetTable {
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
}

.planetVals {
    padding: 10px;
    text-align: center;
}

.power { /* Superscript values */
    vertical-align: super;
}

.planets { /* Planet names in table */
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    text-align: center;
}

.planetCatg { /* Planet category description */
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    text-align: right;
}

#hyperlinks {
    text-align: center;
}
